.text {
    margin: 0;
    padding: 0;
    color: white;
    margin-bottom: 1rem;
    
}

.card {
    background-color: #1E213A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    width: fit-content;
    padding: 20px;
    margin-bottom: 2rem;
}

.tempContainer {
    display:flex;
    justify-content: space-between;
}

.tempContainer > p {
    margin: 0;
    padding: 0;
    margin-top: 1rem;
}

.maxTemp {
    color:#E7E7EB;
}

.minTemp {
    color: #A09FB1;

}